body{
	background-image:  url(images/magball.png);
	text-align: center;
	background-attachment: fixed;
	background-position:center;

}
.center{
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
	color: white;
	text-align: center;
	font-size: 40px;
}
